--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: adminpanel_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50)
);


ALTER TABLE public.adminpanel_category OWNER TO postgres;

--
-- Name: adminpanel_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_customer (
    customer_id integer NOT NULL,
    profile_pic character varying(100),
    address character varying(140),
    mobile character varying(120),
    user_id integer NOT NULL
);


ALTER TABLE public.adminpanel_customer OWNER TO postgres;

--
-- Name: adminpanel_customer_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_customer ALTER COLUMN customer_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_customer_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    slug character varying(50),
    is_available boolean NOT NULL,
    is_active boolean NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.adminpanel_product OWNER TO postgres;

--
-- Name: adminpanel_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.adminpanel_productimage OWNER TO postgres;

--
-- Name: adminpanel_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_quality; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_quality (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    slug character varying(50)
);


ALTER TABLE public.adminpanel_quality OWNER TO postgres;

--
-- Name: adminpanel_quality_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_quality ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_quality_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_userprofile (
    id bigint NOT NULL,
    otp character varying(6),
    otp_expiry timestamp with time zone,
    user_id integer NOT NULL
);


ALTER TABLE public.adminpanel_userprofile OWNER TO postgres;

--
-- Name: adminpanel_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: adminpanel_variant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.adminpanel_variant (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    quantity integer NOT NULL,
    price numeric(8,2) NOT NULL,
    stock integer NOT NULL,
    description text NOT NULL,
    slug character varying(50),
    product_id bigint NOT NULL,
    quality_id bigint NOT NULL,
    CONSTRAINT adminpanel_variant_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.adminpanel_variant OWNER TO postgres;

--
-- Name: adminpanel_variant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.adminpanel_variant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.adminpanel_variant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.cart_cart OWNER TO postgres;

--
-- Name: cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cartitems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_cartitems (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(8,2) NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT cart_cartitems_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.cart_cartitems OWNER TO postgres;

--
-- Name: cart_cartitems_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_cartitems ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cartitems_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_wishlist (
    id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.cart_wishlist OWNER TO postgres;

--
-- Name: cart_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_wishlistitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_wishlistitem (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    wishlist_id bigint NOT NULL
);


ALTER TABLE public.cart_wishlistitem OWNER TO postgres;

--
-- Name: cart_wishlistitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_wishlistitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_wishlistitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: order_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_order (
    id bigint NOT NULL,
    total_price double precision NOT NULL,
    payment_status character varying(20) NOT NULL,
    payment_method character varying(20) NOT NULL,
    message text,
    tracking_no character varying(150),
    order_date timestamp with time zone NOT NULL,
    delivery_date timestamp with time zone,
    razor_pay_order_id character varying(150),
    razor_pay_payment_id character varying(150),
    razor_pay_payment_signature character varying(150),
    address_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.order_order OWNER TO postgres;

--
-- Name: order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_orderitem (
    id bigint NOT NULL,
    price double precision NOT NULL,
    quantity integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.order_orderitem OWNER TO postgres;

--
-- Name: order_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_useraddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_useraddress (
    id bigint NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    phone_number character varying(50) NOT NULL,
    address_line_1 character varying(250) NOT NULL,
    address_line_2 character varying(250),
    email character varying(254) NOT NULL,
    city character varying(150) NOT NULL,
    state character varying(150) NOT NULL,
    postal_code character varying(10) NOT NULL,
    country character varying(50) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.user_useraddress OWNER TO postgres;

--
-- Name: user_useraddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_useraddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_useraddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: adminpanel_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_category (id, name, slug) FROM stdin;
1	Vegitables	\N
2	Fruits	\N
\.


--
-- Data for Name: adminpanel_customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_customer (customer_id, profile_pic, address, mobile, user_id) FROM stdin;
1		\N	\N	1
\.


--
-- Data for Name: adminpanel_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_product (id, name, description, slug, is_available, is_active, category_id) FROM stdin;
2	Apple	fresh apple	\N	t	t	2
3	Avocado	Organic Avocado	\N	t	t	2
4	Potato	Potatoes	\N	t	t	1
1	Tomato	fresh tomato	\N	t	t	1
\.


--
-- Data for Name: adminpanel_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_productimage (id, image, product_id) FROM stdin;
1	variants/apple_1.jpg	1
2	variants/apple_2.jpg	2
3	variants/apple_3.jpg	3
4	variants/tomato_first_q.jpg	4
5	variants/tomato_second_q.jpg	5
6	variants/tomato_third_q.jpg	6
7	variants/avacado.jpg	7
8	variants/avacado4.jpg	8
9	variants/avacado2.jpg	9
10	variants/potato4.jpg	10
11	variants/potato2.jpg	11
12	variants/potato.jpg	12
13	variants/potato_qcdVnXW.jpg	12
\.


--
-- Data for Name: adminpanel_quality; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_quality (id, name, slug) FROM stdin;
2	Second quality	\N
3	First quality	\N
1	Third quality	\N
4	3	\N
5	2	\N
6	1	\N
\.


--
-- Data for Name: adminpanel_userprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adminpanel_userprofile (id, otp, otp_expiry, user_id) FROM stdin;
1	332888	2023-08-04 10:43:23.791837-07	1
\.


--
-- Data for Name: adminpanel_variant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$UpZOwpfJ8zMG2hAJ6cwFB5$elhWmp6LAslX1aqNgBK+c4CHiUwl9dsAIA55dIh/zlo=	2023-08-05 08:36:18.785075-07	t	raya			harifn786@gmail.com	t	t	2023-07-31 14:08:48-07
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: cart_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_cart (id, created_at, user_id) FROM stdin;
1	2023-08-01 11:11:58.317917-07	1
\.


--
-- Data for Name: cart_cartitems; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_cartitems (id, quantity, price, cart_id, product_id) FROM stdin;
18	5	1000.00	1	1
19	5	375.00	1	10
\.


--
-- Data for Name: cart_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_wishlist (id, user_id) FROM stdin;
\.


--
-- Data for Name: cart_wishlistitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_wishlistitem (id, product_id, wishlist_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	adminpanel	category
8	adminpanel	product
9	adminpanel	quality
10	adminpanel	variant
11	adminpanel	productimage
12	adminpanel	customer
13	cart	cart
14	cart	cartitems
15	cart	wishlist
16	cart	wishlistitem
17	user	useraddress
18	order	order
19	order	orderitem
20	coupons	coupon
21	adminpanel	userprofile
22	coupons	usercoupon
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
iy9tk8s7rvtszzkqj98elfh2gsvhqday	.eJxVjMEOgjAQBf-lZ9MUCi149O43NNvuIlVsCZTExPjvUgMmHN-bybxZTCM7h2UYTmyZaTIe97kSQ6_RT5B8DCb5J-3IwJJ68_dZwQ6fBfegkAHeIdwidzGkyVueFb7RmV8j0nDZ3EOgh7nPWamU01qQxKqtOysbcsrWhODQtYWUGkRbikZLsHqdiFUlClGqjrDRkKMpJhh-KV1zIdan8-HwfL4bA1QA:1qSIR9:IM2PvGH_sz3WF2TQar2LjPa1GeGEu1ECovSka_9uguE	2023-08-19 13:09:23.038676-07
\.


--
-- Data for Name: order_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_orderitem (id, price, quantity, order_id, product_id) FROM stdin;
1	150	1	1	4
2	150	1	2	4
3	100	1	2	5
4	100	1	2	3
5	200	1	2	1
6	100	1	4	5
7	900	6	5	2
8	1200	6	5	7
9	300	4	5	10
10	150	1	7	2
11	50	1	7	11
12	200	1	7	1
13	100	1	7	9
\.


--
-- Data for Name: user_useraddress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_useraddress (id, first_name, last_name, phone_number, address_line_1, address_line_2, email, city, state, postal_code, country, user_id) FROM stdin;
1	Muhammed	Harif	09745674674	Nedungadan	Iringattiri	harifn786@gmail.com	Karuvarakundu	Kerala	679523	India	1
\.


--
-- Name: adminpanel_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_category_id_seq', 2, true);


--
-- Name: adminpanel_customer_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_customer_customer_id_seq', 1, true);


--
-- Name: adminpanel_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_product_id_seq', 4, true);


--
-- Name: adminpanel_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_productimage_id_seq', 13, true);


--
-- Name: adminpanel_quality_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_quality_id_seq', 6, true);


--
-- Name: adminpanel_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_userprofile_id_seq', 1, true);


--
-- Name: adminpanel_variant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adminpanel_variant_id_seq', 12, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 1, true);


--
-- Name: cart_cartitems_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cartitems_id_seq', 19, true);


--
-- Name: cart_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_wishlist_id_seq', 1, false);


--
-- Name: cart_wishlistitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_wishlistitem_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 46, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_order_id_seq', 8, true);


--
-- Name: order_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_orderitem_id_seq', 13, true);


--
-- Name: user_useraddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_useraddress_id_seq', 1, true);


--
-- Name: adminpanel_category adminpanel_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_category
    ADD CONSTRAINT adminpanel_category_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_category adminpanel_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_category
    ADD CONSTRAINT adminpanel_category_slug_key UNIQUE (slug);


--
-- Name: adminpanel_customer adminpanel_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_customer
    ADD CONSTRAINT adminpanel_customer_pkey PRIMARY KEY (customer_id);


--
-- Name: adminpanel_customer adminpanel_customer_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_customer
    ADD CONSTRAINT adminpanel_customer_user_id_key UNIQUE (user_id);


--
-- Name: adminpanel_product adminpanel_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_product
    ADD CONSTRAINT adminpanel_product_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_product adminpanel_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_product
    ADD CONSTRAINT adminpanel_product_slug_key UNIQUE (slug);


--
-- Name: adminpanel_productimage adminpanel_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_productimage
    ADD CONSTRAINT adminpanel_productimage_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_quality adminpanel_quality_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_quality
    ADD CONSTRAINT adminpanel_quality_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_quality adminpanel_quality_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_quality
    ADD CONSTRAINT adminpanel_quality_slug_key UNIQUE (slug);


--
-- Name: adminpanel_userprofile adminpanel_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_userprofile
    ADD CONSTRAINT adminpanel_userprofile_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_userprofile adminpanel_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_userprofile
    ADD CONSTRAINT adminpanel_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: adminpanel_variant adminpanel_variant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_variant
    ADD CONSTRAINT adminpanel_variant_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_variant adminpanel_variant_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_variant
    ADD CONSTRAINT adminpanel_variant_slug_key UNIQUE (slug);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: cart_cart cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_pkey PRIMARY KEY (id);


--
-- Name: cart_cartitems cart_cartitems_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitems
    ADD CONSTRAINT cart_cartitems_pkey PRIMARY KEY (id);


--
-- Name: cart_wishlist cart_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_wishlist
    ADD CONSTRAINT cart_wishlist_pkey PRIMARY KEY (id);


--
-- Name: cart_wishlistitem cart_wishlistitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_wishlistitem
    ADD CONSTRAINT cart_wishlistitem_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: order_order order_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_order
    ADD CONSTRAINT order_order_pkey PRIMARY KEY (id);


--
-- Name: order_orderitem order_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_orderitem
    ADD CONSTRAINT order_orderitem_pkey PRIMARY KEY (id);


--
-- Name: user_useraddress user_useraddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_useraddress
    ADD CONSTRAINT user_useraddress_pkey PRIMARY KEY (id);


--
-- Name: adminpanel_category_slug_eae720ca_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_category_slug_eae720ca_like ON public.adminpanel_category USING btree (slug varchar_pattern_ops);


--
-- Name: adminpanel_product_category_id_02d3b6ae; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_product_category_id_02d3b6ae ON public.adminpanel_product USING btree (category_id);


--
-- Name: adminpanel_product_slug_3d965bc3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_product_slug_3d965bc3_like ON public.adminpanel_product USING btree (slug varchar_pattern_ops);


--
-- Name: adminpanel_productimage_product_id_9ee1cc8c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_productimage_product_id_9ee1cc8c ON public.adminpanel_productimage USING btree (product_id);


--
-- Name: adminpanel_quality_slug_407f3b41_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_quality_slug_407f3b41_like ON public.adminpanel_quality USING btree (slug varchar_pattern_ops);


--
-- Name: adminpanel_variant_product_id_defcb9e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_variant_product_id_defcb9e0 ON public.adminpanel_variant USING btree (product_id);


--
-- Name: adminpanel_variant_quality_id_5084b333; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_variant_quality_id_5084b333 ON public.adminpanel_variant USING btree (quality_id);


--
-- Name: adminpanel_variant_slug_2b289a0a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX adminpanel_variant_slug_2b289a0a_like ON public.adminpanel_variant USING btree (slug varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: cart_cart_user_id_9b4220b9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cart_user_id_9b4220b9 ON public.cart_cart USING btree (user_id);


--
-- Name: cart_cartitems_cart_id_b2552036; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cartitems_cart_id_b2552036 ON public.cart_cartitems USING btree (cart_id);


--
-- Name: cart_cartitems_product_id_cebb7da4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cartitems_product_id_cebb7da4 ON public.cart_cartitems USING btree (product_id);


--
-- Name: cart_wishlist_user_id_c35eec54; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_wishlist_user_id_c35eec54 ON public.cart_wishlist USING btree (user_id);


--
-- Name: cart_wishlistitem_product_id_c183b0d4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_wishlistitem_product_id_c183b0d4 ON public.cart_wishlistitem USING btree (product_id);


--
-- Name: cart_wishlistitem_wishlist_id_dd2c2649; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_wishlistitem_wishlist_id_dd2c2649 ON public.cart_wishlistitem USING btree (wishlist_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: order_order_address_id_f6eb43ad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_order_address_id_f6eb43ad ON public.order_order USING btree (address_id);


--
-- Name: order_order_user_id_7cf9bc2b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_order_user_id_7cf9bc2b ON public.order_order USING btree (user_id);


--
-- Name: order_orderitem_order_id_aba34f44; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_orderitem_order_id_aba34f44 ON public.order_orderitem USING btree (order_id);


--
-- Name: order_orderitem_product_id_c5c6b07a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_orderitem_product_id_c5c6b07a ON public.order_orderitem USING btree (product_id);


--
-- Name: user_useraddress_user_id_c23aded4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_useraddress_user_id_c23aded4 ON public.user_useraddress USING btree (user_id);


--
-- Name: adminpanel_customer adminpanel_customer_user_id_248e5b2d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_customer
    ADD CONSTRAINT adminpanel_customer_user_id_248e5b2d_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: adminpanel_product adminpanel_product_category_id_02d3b6ae_fk_adminpane; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_product
    ADD CONSTRAINT adminpanel_product_category_id_02d3b6ae_fk_adminpane FOREIGN KEY (category_id) REFERENCES public.adminpanel_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: adminpanel_productimage adminpanel_productim_product_id_9ee1cc8c_fk_adminpane; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_productimage
    ADD CONSTRAINT adminpanel_productim_product_id_9ee1cc8c_fk_adminpane FOREIGN KEY (product_id) REFERENCES public.adminpanel_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: adminpanel_userprofile adminpanel_userprofile_user_id_30679c46_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_userprofile
    ADD CONSTRAINT adminpanel_userprofile_user_id_30679c46_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: adminpanel_variant adminpanel_variant_product_id_defcb9e0_fk_adminpanel_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_variant
    ADD CONSTRAINT adminpanel_variant_product_id_defcb9e0_fk_adminpanel_product_id FOREIGN KEY (product_id) REFERENCES public.adminpanel_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: adminpanel_variant adminpanel_variant_quality_id_5084b333_fk_adminpanel_quality_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.adminpanel_variant
    ADD CONSTRAINT adminpanel_variant_quality_id_5084b333_fk_adminpanel_quality_id FOREIGN KEY (quality_id) REFERENCES public.adminpanel_quality(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_user_id_9b4220b9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_9b4220b9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitems cart_cartitems_cart_id_b2552036_fk_cart_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitems
    ADD CONSTRAINT cart_cartitems_cart_id_b2552036_fk_cart_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitems cart_cartitems_product_id_cebb7da4_fk_adminpanel_variant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitems
    ADD CONSTRAINT cart_cartitems_product_id_cebb7da4_fk_adminpanel_variant_id FOREIGN KEY (product_id) REFERENCES public.adminpanel_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_wishlist cart_wishlist_user_id_c35eec54_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_wishlist
    ADD CONSTRAINT cart_wishlist_user_id_c35eec54_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_wishlistitem cart_wishlistitem_product_id_c183b0d4_fk_adminpanel_variant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_wishlistitem
    ADD CONSTRAINT cart_wishlistitem_product_id_c183b0d4_fk_adminpanel_variant_id FOREIGN KEY (product_id) REFERENCES public.adminpanel_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_wishlistitem cart_wishlistitem_wishlist_id_dd2c2649_fk_cart_wishlist_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_wishlistitem
    ADD CONSTRAINT cart_wishlistitem_wishlist_id_dd2c2649_fk_cart_wishlist_id FOREIGN KEY (wishlist_id) REFERENCES public.cart_wishlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_order order_order_address_id_f6eb43ad_fk_user_useraddress_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_order
    ADD CONSTRAINT order_order_address_id_f6eb43ad_fk_user_useraddress_id FOREIGN KEY (address_id) REFERENCES public.user_useraddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_order order_order_user_id_7cf9bc2b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_order
    ADD CONSTRAINT order_order_user_id_7cf9bc2b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_orderitem order_orderitem_order_id_aba34f44_fk_order_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_orderitem
    ADD CONSTRAINT order_orderitem_order_id_aba34f44_fk_order_order_id FOREIGN KEY (order_id) REFERENCES public.order_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_orderitem order_orderitem_product_id_c5c6b07a_fk_adminpanel_variant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_orderitem
    ADD CONSTRAINT order_orderitem_product_id_c5c6b07a_fk_adminpanel_variant_id FOREIGN KEY (product_id) REFERENCES public.adminpanel_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_useraddress user_useraddress_user_id_c23aded4_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_useraddress
    ADD CONSTRAINT user_useraddress_user_id_c23aded4_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

