<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/51f286cfb5.js" crossorigin="anonymous"></script>

  <style>
    .nav-pills li a:hover{
        background-color: #57da64;
    }
</style>
  
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #7FAD39 !important;">
    <div class="container-fluid">
        <a class="navbar-brand text-dark fs-4 fw-bold" href="#">ORG<span class="text-danger">ANO</span></a>

        <form class="d-flex align-items-center gap-2" role="search">
          <i class="fa fa-user"></i>
          <a href="#" class="navbar-brand fs-6 fw-bold d-none d-sm-inline">Admin</a>
        </form>
      </div>
    </div>
  </nav>
<!-- body -->
<div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">
  <div class="row shadow-lg">
      <div class="d-flex flex-column justify-content-between col-auto bg-light min-vh-100 col-12">
          <div class="mt-4">

              <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                  <li class="nav-item my-sm-1 my-2">
                      <a href="{% url 'dashboard' %}" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                          <i class="fa fa-gauge d-sm-none d-inline"></i>
                          <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                      </a>
                  </li>

                  <hr class="text-dark d-none d-sm-block my-3" />

                  <li class="nav-item my-sm-1 my-2">
                      <a href="#categorymenu" data-bs-toggle="collapse"
                          class="nav-link text-dark text-center text-sm-start" aria-current="page">
                          <i class="fa fa-table d-sm-none d-inline"></i>
                          <span class="ms-2 d-none d-sm-inline text-decoration-none">Category</span>
                      </a>

                      <ul class="nav collapse ms-1 flex-column " id="categorymenu" data-bs-parent="#menu">
                          <li class="nav-item">
                              <a class="nav-link text-dark" style="font-size: .75rem;" href="{% url 'category_list' %}" aria-current="page">Categories</a>
                              <a class="nav-link text-dark" style="font-size: .75rem;" href="{% url 'add_category' %}" aria-current="page">Add Category</a>
                          </li>
                      </ul>
                  </li>

                  <hr class="text-dark d-none d-sm-block my-3" />

                  <li class="nav-item my-sm-1 my-2">
                      <a href="#sidemenu" data-bs-toggle="collapse"
                          class="nav-link text-dark text-center text-sm-start" aria-current="page">
                          <i class="fa fa-shop d-sm-none d-inline"></i>
                          <span class="ms-2 d-none d-sm-inline">Products</span>
                      </a>

                      <ul class="nav collapse ms-1 flex-column " id="sidemenu" data-bs-parent="#menu">
                          <li class="nav-item">
                              <a class="nav-link text-dark" style="font-size: .75rem;" href="{% url 'products_list' %}" aria-current="page">Products</a>
                              <a class="nav-link text-dark" style="font-size: .75rem;" href="{% url 'add_product' %}" aria-current="page">Add Products</a>
                          </li>
                      </ul>
                  </li>

                  <hr class="text-dark d-none d-sm-block my-3" />

                  <li class="nav-item my-sm-1 my-2">
                      <a href="{% url 'order_all' %}" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                          <i class="fa fa-truck-fast d-sm-none d-inline"></i>
                          <span class="ms-2 d-none d-sm-inline">Orders</span>
                      </a>
                  </li>

                  <hr class="text-dark d-none d-sm-block my-3" />

                  <li class="nav-item my-sm-1 my-2">
                      <a href="{% url 'user' %}" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                          <i class="fa fa-users  d-sm-none d-inline"></i>
                          <span class="ms-2 d-none d-sm-inline">customers</span>
                      </a>
                  </li>

                  <hr class="text-dark d-none d-sm-block my-3" />

              </ul>
          </div>


      </div>


  </div>
  
  <!-- footer -->
  <footer style="background-color: #F3F6FA;font-size: 12px;padding-left: 15px;">
    Copyright © 2023 All rights reserved
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
crossorigin="anonymous"></script>

</body>
</html>
