<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>password_reset_request</title>
</head>
<body>
  <!-- Page content -->
  <div class="container" style=" margin-top: 125px;">
    <div class="row justify-content-center">
        <div class="col-lg-6">
          
            <form method="post">
                {% csrf_token %}
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
                <label for="email">Enter your email address:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

  
</body>
</html>